@model OnlineTicariOtomasyon.Models.Siniflar.Kategori
@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "KategoriGetir";
}
<br />
<h1>Kategori Güncelleme</h1>
<br />
@using (Html.BeginForm("KategoriGuncelle", "Kategori", FormMethod.Post))
{
    @Html.LabelFor(x => x.KategoriAd)
    @Html.TextBoxFor(x => x.KategoriAd, new { @class= "form-control" })
    @Html.HiddenFor(x=> x.KategoriID)

        <button class="btn btn-warning">Güncelle</button>
}


