@model OnlineTicariOtomasyon.Models.Siniflar.Departman
@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "DepartmanGetir";
}

<br />
<h1>Departman Güncelle</h1>
<br />
@using (Html.BeginForm("DepartmanGuncelle","Departman", FormMethod.Post))
{
        <div class="form-group">
            @Html.LabelFor(x => x.DepartmanAd)
            @Html.TextBoxFor(x=> x.DepartmanAd, new  {@class = "form-control" })
            @Html.HiddenFor(x=>x.DepartmanID)
        </div>
        <button class="btn btn-warning">Güncelle</button>
}